body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000080;
    color: #fff;
    padding: 0.5em 0; /* Reduzir o padding vertical. Antes: 1em 0 */
    text-align: center;
    font-size: 1.2em; /* Ajustar o tamanho da fonte para algo mais compacto. Antes: 1.5em */
    position: fixed; /* Fixar o header no topo */
    top: 0; /* Alinha o header no topo */
    left: 0;
    width: 100%; /* Garante que o header ocupe toda a largura da página */
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-grow: 1;
    padding: 20px; /* 20px */
    padding-left: 20px; /* acrescentei */
    min-width: 800px; /* Definindo uma largura mínima para o contêiner principal */
}

.index {
    display: block; /* Assegura que o container ocupe todo o espaço horizontal */
    max-width: 800px; /* Limita a largura máxima do texto */
    margin: 0 auto; /* Centraliza o container */
    padding: 20px;
}

.index p {
    column-count: 1; /* Força o texto a ficar em uma única coluna */
    text-align: justify; /* Justifica o texto para uma aparência melhor */
}

aside {
    width: 300px;
    flex-shrink: 0;
    background-color: #f4f4f4;
    padding: 1em;
    position: fixed; /* Fixar a barra lateral */
    top: 80px; /* Distância do topo da página, ajustando para não sobrepor o header. Antes: 70px */
    left: 0;
    height: calc(100% - 80px); /* Ocupa a altura total da tela, menos a altura do header. Antes: 70px */
    overflow-y: auto; /* Permite a rolagem do conteúdo da barra lateral se exceder a altura */
    z-index: 900; /* Garante que o aside fique abaixo do header */
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    display: block;
}

aside ul li a.active {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
}

main {
    flex-grow: 1;
    padding: 1em;
    margin-left: 310px; /* Compensa a largura da barra lateral. Antes: 320px */
    margin-top: 80px; /* Compensa a altura do header */
}

main img {
    display: block;
    margin: 20px auto;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: auto;
    width: 100%; /* Ajusta a largura para 100% do contêiner pai */
    box-sizing: border-box; /* Inclui o padding e border na largura total */
    white-space: pre-wrap; /* Permite a quebra automática de linha */
    font-size: 13px; /* Aumenta o tamanho da fonte */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
}
/* Estilos adicionados para referências bibliográficas */
.reference {
    margin-bottom: 20px;
    padding-left: 15px; /* 15px */
    border-left: 2px solid #007acc; /* 4px */
}

.reference-title {
    font-weight: bold;
    color: #007acc;
}

.reference-author {
    color: #555;
}

.reference-details {
    color: #666;
    margin-bottom: 10px;
}

.reference-abstract {
    color: #333;
    font-size: 0.95em;
    background: #f9f9f9;
    padding: 10px;
    border-left: 2px solid #007acc; /* 4px */
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
