<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/siteLabSolares-UERJ/assets/main.css' | relative_url }}">
</head>
<body>
    <header>
        <h2>{{ site.title }}</h1>
    </header>
    <div class="container">
        <aside>
            <ul>
                <li class="{% if page.url == '/siteLabSolares-UERJ/' %}active{% endif %}"><a href="/siteLabSolares-UERJ/">Home page</a></li>
                <li class="{% if page.url == '/siteLabSolares-UERJ/documentation/installation/' %}active{% endif %}"><a href="/siteLabSolares-UERJ/documentation/installation/">Installation and Usage</a></li>
                <li class="{% if page.url == '/siteLabSolares-UERJ/documentation/examples/' %}active{% endif %}"><a href="/siteLabSolares-UERJ/documentation/examples/">Examples</a></li>
                <li class="{% if page.url == '/siteLabSolares-UERJ/documentation/api_reference/' %}active{% endif %}"><a href="/siteLabSolares-UERJ/documentation/api_reference/">API reference</a></li>
                <li class="{% if page.url == '/siteLabSolares-UERJ/documentation/cli_reference/' %}active{% endif %}"><a href="/siteLabSolares-UERJ/documentation/cli_reference/">CLI reference</a></li>
            </ul>
        </aside>
        <main>
            {{ content }}
        </main>
    </div>
</body>
</html>
<script>
    // Função para adicionar a classe 'active' ao link atual
    function setActiveLink() {
        var path = window.location.pathname;
        var links = {
            '/siteLabSolares-UERJ/': 'home-link',
            '/siteLabSolares-UERJ/documentation/installation/': 'installation-link',
            '/siteLabSolares-UERJ/documentation/examples/': 'examples-link',
            '/siteLabSolares-UERJ/documentation/api_reference/': 'api-link',
            '/siteLabSolares-UERJ/documentation/cli_reference/': 'cli-link'
        };

        if (links[path]) {
            document.getElementById(links[path]).classList.add('active');
        }
    }

    // Chama a função para definir o link ativo ao carregar a página
    document.addEventListener('DOMContentLoaded', setActiveLink);
</script>
