<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/main/assets/main.css' | relative_url }}">
</head>
<body>
    <header>
        <h2>{{ site.title }}</h1>
    </header>
    <div class="container">
        <aside>
            <br><img src="/main/SOLARES.jpg" alt="SOLARES Logo" style="width:100%; height:auto; margin-bottom:15px;">
            <ul>
                <li class="{% if page.url == '/main/' %}active{% endif %}"><a href="/main/">Home page</a></li>
                <li class="{% if page.url == '/main/documentation/examples/' %}active{% endif %}"><a href="/main/documentation/examples/">Examples</a></li>
                <li class="{% if page.url == '/main/documentation/references/' %}active{% endif %}"><a href="/main/documentation/references/">Referências Bibliográficas</a></li>
            </ul>
        </aside>
        <main>
            {{ content }}
            <div>
                <img src="/main/assets/files/imageFooter2.png" alt="SOLARES Footer Logo" style="width:75%; height:auto; margin-bottom:15px;">
            </div>
        </main>
    </div>
</body>
</html>
<script>
    // Função para adicionar a classe 'active' ao link atual
    function setActiveLink() {
        var path = window.location.pathname;
        var navItems = document.querySelectorAll('aside ul li a');

        navItems.forEach(function(navItem) {
            if (navItem.getAttribute('href') === path) {
                navItem.classList.add('active');
            }
        });
    }

    // Chama a função para definir o link ativo ao carregar a página
    document.addEventListener('DOMContentLoaded', setActiveLink);
</script>
